<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OptimaExportImportForPresta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <OptimaExportImportForPresta.Properties.Settings>
            <setting name="erpLogin" serializeAs="String">
                <value>ADMIN</value>
            </setting>
            <setting name="erpPasswd" serializeAs="String">
                <value>Tomax@123</value>
            </setting>
            <setting name="erpName" serializeAs="String">
                <value>Tomax</value>
            </setting>
            <setting name="erpSrc" serializeAs="String">
                <value>C:\Program Files (x86)\Comarch ERP Optima</value>
            </setting>
            <setting name="ordersGate" serializeAs="String">
                <value>https://www.majsterkowanie.eu/modules/crud/ordersxml.php</value>
            </setting>
            <setting name="serverName" serializeAs="String">
                <value>MSSQLNEW</value>
            </setting>
            <setting name="dataBaseName" serializeAs="String">
                <value>CDN_Tomax</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="secret" serializeAs="String">
                <value>ZAQ!2wsx</value>
            </setting>
            <setting name="twrIdException" serializeAs="String">
                <value>93449</value>
            </setting>
            <setting name="twrIdCarrier" serializeAs="String">
                <value>93450</value>
            </setting>
            <setting name="metodaDostawyKod" serializeAs="String">
                <value>METODADOSTAWY</value>
            </setting>
            <setting name="metodaPlatnosci" serializeAs="String">
                <value>METODAPLATNOSCI</value>
            </setting>
            <setting name="apiUrl" serializeAs="String">
                <value>https://www.majsterkowanie.eu/api/</value>
            </setting>
            <setting name="apiKey" serializeAs="String">
                <value>SA5DK6NTFPUEMQZMWCNP4QI26U1IEZ51</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>1</value>
            </setting>
        </OptimaExportImportForPresta.Properties.Settings>
    </applicationSettings>
</configuration>